.checkout {

    padding: 0;

    .checkoutContainer {
        margin: auto;
        width: 80%;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 0.5em;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"] {
        border: 1px solid $gray-m1;
        border-radius: 0.5em;
        padding: 0.5em;
        width: 18rem;

    }

    #stateNzip {
        width: 19rem;
        text-align: left;
        position: relative;

        display: flex;

    }

    #stateInput {
        width: 8rem;
        position: absolute;
        left: 0;


    }

    #zipInput {
        width: 6rem;
        position: absolute;
        right: 0;

    }

    .secondInput {
        label {
            padding-right: 2rem;
        }
    }


    h2 {
        @extend .display-l-36-;
    }

    h3 {
        padding: 0.5em 0;

        @extend .display-m-24-;
    }

    p {
        padding: 0.25em 0;
    }

    padding: 2em;

    .checkoutHeading {
        text-align: center;
    }

    label {
        display: block;
        padding: 0.25em 0;
        @extend .regular-heading-m-16-;
        color: $gray-d2;
        width: 18rem;


    }

    .checkoutFlex {
        display: flex;

        justify-content: space-between;



    }


    .shippingMethodClassBtn {
        display: flex;
        justify-content: center;


    }

    .shippingMethodBtn {
        text-transform: uppercase;
        @extend .shopBtn;
        background-color: transparent;
        color: $primary-brand;
        border: 1px solid $primary-brand;
        margin: 1.5em 0;
    }

    .hideContent {
        display: none;
    }


    /*===============================Cart summary============================*/

    .cartSummaryCheckout {
        display: flex;

        justify-content: center;
        justify-content: space-between;
    }

    .pricingSummaryDiv {
        margin-top: 3.37em;
        border: 1px solid $gray-m1;
        padding: 1em;
        border-radius: 0.125em;

        .priceSumTitle {
            @extend .regular-body-l-20-;
            padding: 0.125em 0;
        }

        li {
            @extend .regualr-body-m-16-;
            padding: 0.125em 0;
        }

    }

    .expressCheckoutDive {
        border: 1px solid $gray-m1;
        padding: 0 1em;
        margin-top: 1em;
        border-radius: 0.125em;
        display: flex;

        align-items: center;
        justify-content: space-between;

        strong {
            width: 50%;
        }
    }

    .checkOutPadding {
        padding: 0.75em 0;
        color: $charcoal-custom;
        @extend .regular-heading-l-20-;
    }

}

/*===========================================All Details components====================================*/
.detailsPara {
    @extend .regualr-body-m-16-;
}

/*===========================================Contact Details====================================*/


.edit2IconDiv {
    display: flex;
    align-items: center;
    justify-content: end;

    .edit2IconText {
        padding: 0 0.5em;
        color: $primary-brand;
        @extend .regualr-body-m-16-;
    }
}

.contactInfoDetailsDiv {
    border: 1px solid $gray-l2;
    padding: 1em 0;
    margin-bottom: 1em;
    position: relative;

    .shippingInfoTitle {
        padding-left: 1em;
        @extend .regular-heading-m-16-;
    }

    .edit2IconDiv {
        position: absolute;
        right: 2.5%;
        top: 15%;
    }
}

/*===========================================Product Review====================================*/

.chekoutProdDiv {
    display: flex;
    align-items: center;

    .prodReviewTitleHeading {
        @extend .regular-heading-m-16-;
    }


    .prodReviewTitle {
        overflow: hidden;
        max-width: 10rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        @extend .regular-heading-m-16-;
    }

    .chekoutProdImg {
        width: 18%;
        height: 5rem;
        padding-right: 1em;
    }

    p {
        @extend .regualr-body-m-16-;
    }
}

.chekoutProdBtnDiv {
    display: flex;
    justify-content: center;

    .chekoutProdBtn {
        @extend .shopBtn;
        color: white;
        width: 17vw;
    }
}

/* =========================== Place order button ===================== */
.checkoutTerms {
    text-align: center;
    @extend .regualr-body-m-16-;
}