.shoppingCart {

    .pricingSummary {
        box-shadow: -2px 0px 14px -3px rgba(0, 0, 0, 0.75);
        // margin: auto;




    }

    .cart_empty {
        text-align: center;
        padding: 2em;
        font-weight: bold;
        color: black;

        .start_shopping {
            @include flexAlignJust;
            padding: 1em;

            img {
                padding: 0 0.5em;
            }
        }
    }



    .shop-head {
        text-align: center;
        padding-bottom: 2em;
      

        h1 {
            // @extend .display-xl-48-dekstop-only;
            @extend .display-l-36-;
            padding: 0.5em 0;
        }
    }


    .bottom-line {
        margin: auto;
        height: 0.5rem;

        width: 7rem;
        background-color: $primary-brand;
        border-radius: 0.25rem;
    }

    .prodImgCart {


        width: 122px;
        height: 133px;
        max-width: 100%;
        // padding: 1em;

    }

    .cart-details {
        padding: 0;



    }


    .leftSideCart {

        @include flexAlignJust;
        justify-content: space-around;
        flex-direction: column;
        align-content: center
    }

    .cartBtn {
        @extend .quantityWrapper;
        padding: 0
    }

    .productCartAllItemsDiv {
        display: flex;

        align-items: center;

        .cartProductTitle {
            overflow: hidden;
            max-width: 20ch;
            text-overflow: clip;
            white-space: nowrap;
            @extend .regular-heading-l-20-;
        }

        .productCartDesc{
            @extend .regualr-body-m-16-;
        }

        .sharingOption{
            span{
               @extend .regular-body-s-14-; 
               font-size: 12px;
            }
        }


    }

    .quantityDivCart {
        @include flexAlignJust;
        width: 4.125rem;
        height: 2rem;
        border: 1px solid $gray-m1;
        border-radius: 0.375rem;
        margin: 0 0.5em;
    }

    .sharingOuter {
        display: flex;


    }

    .sharingOption {
        padding: 1em;
    }

    .sharingInner {
        @include flexAlign;
        background: none;
        border: none;

        &:hover {
            color: black;
        }

        img {
            padding: 0.25em;
        }
    }

    .cartBtns {
        max-width: 100%;



    }

    .payPal {

        &:active,
        &:hover {
            transform: scale(0.98);

        }
    }


    .checkOutBtn {
        background-color: $primary-brand;
        color: $white;
        border-radius: 1.75em;
        padding: 0.25em 2em;
        border: none;
        @include flexAlignJust;
        width: 247px;
        @extend .regular-body-s-14-;

        &:active {
            background-color: $primary-d1;
        }

        img {
            padding: 0.25em 0.5em;


        }
    }

    .cartSummary {
        @include flexAlignJust;
        justify-content: space-between;

        h3{
            @extend .regular-heading-l-20-;
        }
        li{
            @extend .regualr-body-m-16-;
        }

    }

    .blankHeader {
        visibility: hidden;
    }

    .accordianDiv {
        border: 1px solid gray;
        padding: 0;
        margin-bottom: 3em;

        .accoBorder1 {
            border-bottom: 1px solid gray;
        }

        p {
            @extend .regular-heading-l-20-;
        }

        span {
            @extend .regular-body-s-14-;
        }
    }

    .accordion,
    .panel {
        width: 100%;
        padding: 1em;

    }

    .accordion {
        display: flex;
        justify-content: space-between;
        background: none;
        border: none;
        // border: 1px solid gray;

    }
}