@media (min-width: 768px) and (max-width: 1024px) {


  .container {
    width: 90%;
    margin: auto;
  }

  /* ==============================Header 2===================================*/

  header {
    height: 1.75rem;

    .nav-links {
      position: absolute;
      top: 3.75rem;
      height: calc(100vh - 3.75rem);
      width: 100vw;
      left: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      z-index: 3;
      transform: translateY(-140%);
      transition: transform 0.5s ease-in;
      padding: 0;
      color: black;

      a {
        color: black;
      }
    }

    li {
      padding: 0.75em;
    }

    .logo {
      padding: 0.5em 0;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
    }

    .hideLogo {
      display: none;
    }

    #inputSearch {
      width: 100%;

      z-index: 5;
    }

    .mobileHide {
      display: none;
    }

    .desktopHide {
      display: block;
    }

    .burger {
      display: block;
      margin-right: auto;
      cursor: pointer;
    }

    .nav-active {
      transform: translateY(0%);
    }

    .bottomLinks {
      padding: 0.5em 0;
      border-top: 1px solid black;
      width: 100%;
      position: absolute;
      bottom: 2%;
      @include flexJust;
      justify-content: start;

      a {
        padding: 0 1em;
        color: black;
      }

      img {
        padding: 0 0 1.5em 1em;
      }
    }
  }

  /* ==============================HOme page===================================*/

  .homeBanner {
    flex-direction: column-reverse;
    position: relative;


    .homeInnerBanner {

      position: absolute;
      background: transparent linear-gradient(181deg, #F1F1F100 0%, #F0F0F0 100%) 0% 0% no-repeat padding-box;

      bottom: 0;
      width: auto;

      div {
        padding: 0.5em;

        h2 {

          width: 100%;
          text-align: center;
        }

        p {
          text-align: center;
        }

        .collectionBtnDiv {
          margin: auto;
        }

        button {

          margin-bottom: 0.25em;

        }



        .homeBannerImg {
          background-image: url(../Assets/homepage_1.jpg);
          background-size: cover;
        }

        .ThreeDotsWrapper {
          margin: auto;
          display: flex;
          flex-direction: row;

          .ThreeDots {
            margin: 0.25em;
            height: 1px;
            width: 1px;
            border-radius: 50%;

            background: #666666 0% 0% no-repeat padding-box;
          }

          .ThreeDotsActive {
            opacity: 0.3;
          }
        }
      }


    }

    .homeImage {
      width: 100%;
      height: calc(95vh - 3.75rem);
    }
  }

  .mobileHide2 {
    display: none;
  }

  .fourImageOuter {

    margin: auto;

    max-width: 100%;
    text-align: center;
    margin-bottom: 4em;

    .fourImageInner {
      padding: 1em 0;
      flex-direction: column;
      align-items: center;

      width: 90%;
      max-width: 100%;
      margin: auto;
    }
  }


  /* ==============================FourImage===================================*/
  .fourImgComp {
    margin: 0;
    margin-top: 3em;
    position: relative;


    img {
      width: 300px;
    }

    .fourImgBanner {
      width: 100%;
      position: absolute;
      bottom: -7%;

    }
  }

  /* ==============================Take off Banner starts=================== */

  .takeoffOuter {
    flex-direction: column-reverse;

    .takeoffInner {
      width: 100%;
      text-align: center;

      h2 {
        text-align: center;
        width: 100%;
      }
    }

    .manwithGoggles {
      width: 100%;
      object-position: 15% 22%;
    }
  }


  /* ==============================Footer Banner starts=================== */
  .footerBanner {
    flex-direction: column-reverse;


    .standingMan {
      padding: 0;
      width: 100%;
    }

    .footerBannerInner {
      width: 95%;


      margin: -2rem auto 2rem auto;

      p {
        padding-top: 1em;
      }

      button {
        margin: 2em 0;
      }

      .mapiconWrapper {
        left: 18%;
        top: 0;
        margin-top: -2em;


      }
    }

  }




  /* ==============================Hero Banner===================================*/
  .heroBanner {
    flex-direction: column-reverse;
    padding: 0;

    .heroInnerBanner {
      padding: 1em 0;
      margin: -1em 0.5em 0 0.5em;

      width: calc(100% - 1em);

      h2 {

        color: $white;

        padding: 0 0 1em 0;
      }

      div {
        margin-bottom: 0.25em;
      }
    }

    img {
      padding: 0;
      width: 100%;
    }
  }

  /*============================Product List============================*/

  .produFilters {
    padding: 0;
    @include flexJust;
    justify-content: space-around;

    div {
      @include flexAlign;

      img {
        padding: 0 0.5em;
      }
    }
  }


  * {
    .ui.cards>.card>.image {

      height: 5rem;
      padding: 0;

    }

    .ui.cards>.card>.image>img {
      height: 95px;
      width: 130px;
      max-width: 100%;

    }
  }

  #dropbox {
    flex-direction: column-reverse;
  }

  /*============================SideBar============================*/

  .sideBar {
    margin-top: 1em;


    .crossHide {
      display: block;
    }


  }

  .sideBarToggle {
    display: none;
    transition: transform 0.8s ease-in;
    transform: translateX(-140%);

  }

  .sideBar-active {
    transform: translateX(0%);
    display: block;
  }

  .productResults {
    margin: auto;
    padding-top: 2em;
  }

  /*============================Shopping Cart ============================*/


  .sharingOption {
    display: none;
  }

  .cartBtn {
    text-align: right;

    @include flexAlignJust;
    padding: 0
  }

  .sharingOuter {
    @include flexAlignJust;
  }

  .leftSideCart {
    display: flex;
    flex-direction: column;
    text-align: center;
  }



  /*============================Product Details============================*/

  .imgCarousal {
    display: none;
  }



  /* ==============================Checkout===================================*/

  .checkoutFlex {
    flex-direction: column;
  }


  /* ==============================Footer===================================*/
  .lowerFooter {
    flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {

  .sideBarToggle {
    display: none;
    transition: transform 0.8s ease-in;
    transform: translateX(-140%);
  }

  .sideBar-active {
    transform: translateX(0%);
    display: block;
  }
}